body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}
h1 {
    color: #333;
}
#cityInput {
    padding: 5px;
    font-size: 16px;
}
#searchButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#searchButton:hover {
    background-color: #2980b9;
}
#weatherData {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 22px;
}